<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Questionnaire type:</strong>
    <%= question.questionnaire_type_id %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= question.dimension_id %>
  </p>

  <p>
    <strong>Enfoque:</strong>
    <%= question.focus_area_id %>
  </p>

  <p>
    <strong>Business dimension:</strong>
    <%= question.business_dimension_id %>
  </p>

</div>
