<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= admin.password %>
  </p>

  <p>
    <strong>Password confirmation:</strong>
    <%= admin.password_confirmation %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin.role_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= admin.active %>
  </p>

</div>
