
<% model_name = t('activerecord.models.admin.one', default: 'Admin') %>
<% title = @admin.persisted? ? "Editar #{model_name}" : "Nuevo #{model_name}" %>
<% title_sm = @admin.persisted? ? "Última modificación: #{strftime @admin.updated_at}" : '' %>
<% content_for :title, title %>
<% content_for :page_title, title %>
<% content_for :page_title_small, title_sm %>
<% content_for :page_actions do %>
  <%= link_to admins_path, class: 'btn btn-white' do %>
    <%= feather 'arrow-left' %> Volver a la lista
  <% end  %>
  <a href="#submit" class="btn btn-primary"><%= feather :plus %> Guardar</a>
<% end %>

<%= simple_form_for(@admin) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.association :role %>
  <%= f.input :active %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Ver registro', @admin, class: 'btn btn-secondary' if @admin.id %>
    <%= link_to 'Volver', admins_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
