
<% model_name = t('activerecord.models.response.one', default: 'Response') %>
<% title = @response.persisted? ? "Editar #{model_name}" : "Nuevo #{model_name}" %>
<% title_sm = @response.persisted? ? "Última modificación: #{strftime @response.updated_at}" : '' %>
<% content_for :title, title %>
<% content_for :page_title, title %>
<% content_for :page_title_small, title_sm %>
<% content_for :page_actions do %>
  <%= link_to responses_path, class: 'btn btn-white' do %>
    <%= feather 'arrow-left' %> Volver a la lista
  <% end  %>
  <a href="#submit" class="btn btn-primary"><%= feather :plus %> Guardar</a>
<% end %>

<%= simple_form_for(@response) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :questionnaire %>
  <%= f.association :person %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Ver registro', @response, class: 'btn btn-secondary' if @response.id %>
    <%= link_to 'Volver', responses_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
