<% model_name = t('activerecord.models.response.other', default: 'Responses') %>
<% title = "#{model_name}" %>
<% content_for :title, title %>
<% content_for :page_title, title %>
<% content_for :page_actions do %>
  <% if authorized('responses', 'read') %>
    <a href="<%= new_response_url %>" class="btn btn-primary"><%= feather :plus %> Nuevo</a>
    <a href="<%= responses_path(format: :csv) %>" class="btn btn-secondary"><%= fa 'file-csv' %> CSV</a>
  <% end %>
<% end %>
<% content_for :table_filter do %>
<%= render "shared/index_search_form" %>
<% end %>

<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped" style="width:100%">
        <thead>
        <tr>
          <th><%= sort_link @search, 'id', 'ID' %></th>
          
          <th><%= sort_link @search, 'questionnaire_id', t('activerecord.attributes.response.questionnaire_id') %></th><th><%= sort_link @search, 'person_id', t('activerecord.attributes.response.person_id') %></th>

          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <% if @responses.length > 0 %>
          <% @responses.each do |response| %>
          <tr>
            <td><%= response.id %></td>

            <td><%=  response.questionnaire_id %></td><td><%=  response.person_id %></td>
            <td class="text-center table-action">
              <%= link_to_show response %>
              <%= link_to_edit response %>
              <%= link_to_delete response %>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">
              <div class="text-center fs-5 text-muted">
                <div class="mb-2"><%= page_entries_info @responses %></div>
                <% unless @search.conditions.present? %>
                  <a href="<%= new_response_url %>" class="btn btn-primary"><%= feather :plus %> Agregar</a>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row align-items-center justify-content-between">
  <div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="datatables-column-search-text-inputs_info" role="status" aria-live="polite">
      <%= page_entries_info @responses %>
    </div>
  </div>
  <div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="datatables-reponsive_paginate">
      <%= paginate @responses, window: 3 %>
    </div>
  </div>
</div>
