
<% model_name = t('activerecord.models.questionnaire.one', default: 'Questionnaire') %>
<% title = @questionnaire.persisted? ? "Editar #{model_name}" : "Nuevo #{model_name}" %>
<% title_sm = @questionnaire.persisted? ? "Última modificación: #{strftime @questionnaire.updated_at}" : '' %>
<% content_for :title, title %>
<% content_for :page_title, title %>
<% content_for :page_title_small, title_sm %>
<% content_for :page_actions do %>
  <%= link_to questionnaires_path, class: 'btn btn-white' do %>
    <%= feather 'arrow-left' %> Volver a la lista
  <% end  %>
  <a href="#submit" class="btn btn-primary"><%= feather :plus %> Guardar</a>
<% end %>

<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :questionnaire_type %>
  <%= f.input :name %>
  <%= f.input :slug do %>
    <div class="input-group" data-controller="slug">
      <%= f.input_field :slug, data: { 'slug-target': 'slug' }, class: 'form-control' %>
      <div class="input-group-append">
        <%= button_tag type: 'button',
                       class: 'btn btn-info', data: { action: 'click->slug#generateSlug' } do %>
          <%= icon 'repeat' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.input :status %>
  <%= f.input :show_in_homepage, label: 'Mostrar en página principal' %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Ver registro', @questionnaire, class: 'btn btn-secondary' if @questionnaire.id %>
    <%= link_to 'Volver', questionnaires_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
