<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Questionnaire type:</strong>
    <%= questionnaire.questionnaire_type_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= questionnaire.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= questionnaire.slug %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= questionnaire.status %>
  </p>

</div>
